@import "../../styles/index.module.scss";

.header {
  background-color: $primary-color !important;
  height: 5rem;
  padding: 0 5em;
  @media only screen and (max-width: 768px) {
    padding: 0;
  }
}

.toolbar {
  height: 100%;
  justify-content: space-between;
}

.typography {
  flex-grow: 1;
}

.mobileMenuIcon svg {
  color: $white-color;
}

.desktopMenu {
  @include flexbox($alignItems: center, $justifyContent: space-between);
  flex: 1;
  margin-inline-start: 3em;
}

.languageButton {
  color: $white-color !important;
}

.drawerContent {
  width: 250px;
}
